.modal {
    position: relative;
    width: 720px;
    background-color: #1c1c21;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 50px;
    right: 40px;
}

.close:hover {
    cursor: pointer;
}
