.container {
    background-color: #1c1c21;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.nav {
    display: flex;
}

.button {
    background: none;
    border: none;
    text-align: center;
    border-radius: 40px;
    display: flex;
}

.button:hover {
    cursor: pointer;
}
